---
import { Image } from "astro:assets";

const { image, company, opportunities, href } = Astro.props;
---

<a
  href={href}
  class="bg-white/5 flex flex-col items-start rounded-xl border-2 border-dashed border-gray-50 overflow-hidden shadow px-1 py-1 transform transition-transform duration-300 ease-out hover:scale-[1.05]"
>
  <div class="bg-white rounded-lg w-full">
    <Image
      src={image}
      alt={company}
      width={200}
      height={120}
      format="webp"
      loading="lazy"
      decoding="async"
      class="w-full h-[90px] object-contain rounded-md"
    />
  </div>

  <p class="mt-2 mb-1 text-sm font-semibold text-white leading-4 line-clamp-2">
    {company}
  </p>

  <div class="flex items-center gap-1 mb-1 w-full">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-4 h-4"
      viewBox="0 0 24 24"
      fill="currentColor"
    >
      <path
        d="M15.78 15.84S18.64 13 19.61 12c3.07-3 1.54-9.18 1.54-9.18S15 1.29 12 4.36C9.66 6.64 8.14 8.22 8.14 8.22S4.3 7.42 2 9.72L14.25 22c2.3-2.33 1.53-6.16 1.53-6.16zm-1.5-9a2 2 0 0 1 2.83 0 2 2 0 1 1-2.83 0zM3 21a7.81 7.81 0 0 0 5-2l-3-3c-2 1-2 5-2 5z"
      ></path>
    </svg>

    <p class="text-xs font-light text-white">
      {opportunities} ofertas
    </p>

    <div class="bg-blime-bright rounded-xl px-3 py-0.5 ml-auto">
      <div class="text-sm text-black font-medium">Ir</div>
    </div>
  </div>
</a>
