---
import Welcome from "../components/Welcome.astro";
import BasicLayout from "../layouts/BasicLayout.astro";
import Layout from "../layouts/Layout.astro";
import { logos } from "../data/data.js";
import imageRow from "../assets/images/image-row.png";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!-- <Layout>
	<Welcome />
</Layout> -->
<BasicLayout>
  <section
    data-aos="fade-up"
    data-aos-duration="1000"
    class="max-w-6xl mx-auto text-white px-6 py-20"
    aria-label="Sección inicial de la feria virtual de Alumni Tecsup"
  >
    <div
      class="flex flex-col md:flex-row justify-center items-center gap-8 md:gap-24 w-full"
    >
      <!-- //Formulario -->
      <div class="w-full max-w-2xl">
        <div
          class="rounded-3xl border-dashed border-gray-50 border-[2px] px-6 py-12 md:px-14 md:py-12"
        >
          <h2 class="text-2xl font-medium leading-tight text-center mb-2">
            Conéctate con empresas <br />que buscan tu talento
          </h2>
          <p class="text-base font-light text-center mb-6">
            ¡Prepárate para participar en la Feria <br /> Laboral Virtual Tecsup!
          </p>

          <form action="" class="flex flex-col gap-3 mb-4">
            <label for="email" class="text-sm">Correo electrónico Tecsup</label>
            <input
              id="email"
              type="email"
              placeholder="example@tecsup.edu.pe"
              class="bg-white text-sm rounded-lg h-10 px-2 placeholder-gray-500 focus:outline-none focus:ring-2"
            />
            <a
              href="/home"
              class="bg-black h-12 flex items-center justify-center rounded-lg hover:bg-gray-900 transition"
            >
              Ingresar
            </a>
          </form>

          <p class="text-base font-light text-center">
            ¿No te has registrado aún?
            <a href="/register" class="text-blime-bright font-bold"
              >Regístrate</a
            >
          </p>
          <!-- <img src={imageRow.src} alt="Imagen de una flecha" class="h-5 mt-4" /> -->
        </div>
      </div>

      <!-- //Detalle -->
      <div
        class="w-full max-w-2xl flex flex-col items-center justify-center gap-2 text-center"
      >
        <div
          class="text-lg bg-blime-bright text-black font-bold w-fit px-4 rounded-full"
        >
          2025
        </div>
        <h1 class="text-4xl font-extrabold leading-tight font-al">
          FERIA VIRTUAL <br />ALUMNI TECSUP
        </h1>
        <div class="flex items-center gap-2 mb-2">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="fill: rgb(255, 255, 255);transform: ;msFilter:;"
              ><path
                d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"
              ></path><path
                d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z"
              ></path></svg
            >
          </div>
          <time datetime="2025-11-25" class="text-lg font-bold block">
            Del 25 al 27 de noviembre
          </time>
        </div>
        <img
          src="https://images.pexels.com/photos/19187328/pexels-photo-19187328.jpeg"
          alt="Auditorio virtual de la feria"
          class="w-full max-h-[250px] object-cover rounded-xl shadow"
        />
        <p class="font-light leading-snug mt-4">
          Conecta con empresas y oportunidades exclusivas para estudiantes y
          egresados Tecsup, desde tu celular, tablet o computadora.
        </p>
      </div>
    </div>
  </section>

  <section class="w-full h-[100px] bg-white overflow-hidden relative">
    <div class="absolute top-0 left-0 w-full h-full flex items-center">
      <div class="flex animate-marquee space-x-16">
        {
          logos.map((logo) => (
            <img src={logo.src} alt={logo.name} class="h-12 w-auto" />
          ))
        }

        {
          logos.map((logo) => (
            <img src={logo.src} alt={logo.name} class="h-12 w-auto" />
          ))
        }
      </div>
    </div>
  </section>

  <section
    data-aos="fade-up"
    data-aos-duration="1000"
    class="max-w-6xl mx-auto text-white px-6 py-30"
    aria-label="Sección de información general de la feria virtual de Alumni Tecsup"
  >
    <div
      class="flex flex-col md:flex-row justify-center items-center gap-8 md:gap-18 w-full"
    >
      <div class="w-full max-w-2xl">
        <h2 class="text-3xl font-extrabold leading-tight font-al mb-4">
          Feria virtual de Empleabilidad <br /> y Networking 2025
        </h2>
        <p class="font-light leading-snug my-4">
          Nuestra feria reúne a profesionales, empresas y expertos del sector
          para ofrecerte oportunidades de crecimiento profesional y networking.
          Participa en talleres, charlas y sesiones interactivas diseñadas para
          ayudarte a destacar en el competitivo mercado laboral.
        </p>
        <img src={imageRow.src} alt="Imagen de una flecha" class="h-8" />
      </div>

      <div class="w-full max-w-2xl">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div
            class="rounded-3xl border-dashed border-gray-50 border-[2px] px-4 py-6 md:px-2 md:py-4"
          >
            <div class="flex items-center justify-center gap-3">
              <dt class="text-4xl font-bold">+55</dt>
              <div class="text-sm leading-tight">
                empresas participantes con ofertas de trabajo activas
              </div>
            </div>
          </div>
          <div
            class="rounded-3xl border-dashed border-gray-50 border-[2px] px-4 py-6 md:px-2 md:py-4"
          >
            <div class="flex items-center justify-center gap-3">
              <dt class="text-4xl font-bold">+55</dt>
              <div class="text-sm leading-tight">
                empresas participantes con ofertas de trabajo activas
              </div>
            </div>
          </div>

          <div
            class="rounded-3xl border-dashed border-gray-50 border-[2px] px-4 py-6 md:px-2 md:py-4"
          >
            <div class="flex items-center justify-center gap-3">
              <dt class="text-4xl font-bold">+55</dt>
              <div class="text-sm leading-tight">
                empresas participantes con ofertas de trabajo activas
              </div>
            </div>
          </div>

          <div
            class="rounded-3xl border-dashed border-gray-50 border-[2px] px-4 py-6 md:px-2 md:py-4"
          >
            <div class="flex items-center justify-center gap-3">
              <dt class="text-4xl font-bold">500</dt>
              <div class="text-sm leading-tight">
                empresas participantes con ofertas de trabajo activas
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    data-aos="fade-up"
    data-aos-duration="1000"
    class="max-w-6xl mx-auto text-white px-6 py-6 mb-6 md:px-6 md:py-14"
    aria-label="Sección de información recomendada para la feria virtual de Alumni Tecsup"
  >
    <div class="flex flex-col items-center text-center">
      <h2 class="text-3xl font-extrabold leading-tight font-al mb-4">
        WEBINARS DE EMPLEABILIDAD
      </h2>

      <h3 class="text-lg font-light text-center mb-4">
        ¡Prepárate para dar el siguiente paso en tu carrera!
      </h3>

      <p class="text-base font-light text-center mb-6">
        Participa en nuestros webinars y descubre tips, herramientas y
        estrategias para destacar en tus procesos de selección.
      </p>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-12 mt-4">
        <article
          class="rounded-3xl border-2 border-dashed border-gray-50 overflow-hidden shadow p-3"
        >
          <img
            src="https://images.pexels.com/photos/18923848/pexels-photo-18923848.jpeg"
            alt="Persona en una entrevista laboral"
            class="w-full max-h-[200px] object-cover rounded-2xl"
          />

          <div class="p-2 flex flex-col items-start gap-2">
            <h4 class="text-base font-bold text-blime-bright">
              ENTREVISTAS DE TRABAJO
            </h4>
            <p class="text-sm font-semibold">
              ¿Quieres destacar en cada entrevista?
            </p>
            <p class="text-sm font-light text-left">
              ¡Aprende cómo lograrlo! Nuestros webinars te brindarán técnicas y
              consejos prácticos para transmitir seguridad y confianza.
            </p>
          </div>
        </article>

        <article
          class="rounded-3xl border-2 border-dashed border-gray-50 overflow-hidden shadow p-3"
        >
          <img
            src="https://images.pexels.com/photos/18923848/pexels-photo-18923848.jpeg"
            alt="Persona en una entrevista laboral"
            class="w-full max-h-[200px] object-cover rounded-2xl"
          />

          <div class="p-2 flex flex-col items-start gap-2">
            <h4 class="text-base font-bold text-blime-bright">
              ENTREVISTAS DE TRABAJO
            </h4>
            <p class="text-sm font-semibold">
              ¿Quieres destacar en cada entrevista?
            </p>
            <p class="text-sm font-light text-left">
              ¡Aprende cómo lograrlo! Nuestros webinars te brindarán técnicas y
              consejos prácticos para transmitir seguridad y confianza.
            </p>
          </div>
        </article>
        <article
          class="rounded-3xl border-2 border-dashed border-gray-50 overflow-hidden shadow p-3"
        >
          <img
            src="https://images.pexels.com/photos/18923848/pexels-photo-18923848.jpeg"
            alt="Persona en una entrevista laboral"
            class="w-full max-h-[200px] object-cover rounded-2xl"
          />

          <div class="p-2 flex flex-col items-start gap-2">
            <h4 class="text-base font-bold text-blime-bright">
              ENTREVISTAS DE TRABAJO
            </h4>
            <p class="text-sm font-semibold">
              ¿Quieres destacar en cada entrevista?
            </p>
            <p class="text-sm font-light text-left">
              ¡Aprende cómo lograrlo! Nuestros webinars te brindarán técnicas y
              consejos prácticos para transmitir seguridad y confianza.
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>
</BasicLayout>
